.img{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sp{
    display: flex;
    padding: 20px;
   
    padding-top: 20px;
   
}
table.ct{
    width: 300px;
    height: 380px;
    
}
td.nd p{
    padding: 7px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}
td.tensp p{
    padding: 4px;
    font-weight: 600;
    font-size: 20px;
}
img.dt{
    height: 400px;
    padding-left: 20%;
}

.giaca{
    font-size: 28px;
    font-weight: 800;
    padding-left: 40%;
    padding-top: 40px;
    padding-bottom: 20px;
}
.muangay{
    background-color: rgb(255, 15, 15);
    padding: 15px 40px 15px 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}
.muatragop{
    background-color: rgb(12, 202, 12);
    padding: 15px 40px 15px 40px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.mua{
    padding: 10px 0px 20px 33%;
   
}
a.muangay:hover{
   background-color: rgb(209, 3, 3);
}
a.muatragop:hover{
    background-color: rgb(0, 160, 0);
}
.bang{
    padding-right: 10%;
}
.lh{
    padding: 10px 0px 10px 70%;
    font-weight: 600;
    
}
.hethang{
    font-size: 28px;
    font-weight: 500;
    padding-left: 40%;
    padding-top: 40px;
    padding-bottom: 20px;
}